.carousel-inner .carousel-item:nth-child(1){
  background-image: url(./image/m1.png);
  background-repeat: no-repeat;
  background-size: 100%; 

}
.carousel-inner .carousel-item:nth-child(2){
  background-image: url(./image/s11.png); 
  background-repeat: no-repeat;
  background-size: 100%;
  

}.carousel-inner .carousel-item:nth-child(3){
  background-image: url(./image/q1\ \(2\).png); 
  background-repeat: no-repeat;
  background-size: 100%;

}
.carousel-item{
    height: 37.52rem;

  }

  audio::-webkit-media-controls-panel {
    background-color: white;
  }

.photo-doc{
  margin-top: 80px;
  width: 250px; 
  height: 300px; 
  margin-right: 40px;

}
 
    li{
        margin-right:20px;
    }
    .navbar-brand{
        margin-left: 20px;
    }
   
    ::-webkit-scrollbar {
        width: 10px;
        }
      ::-webkit-scrollbar-track {
      background: #f1f1f1; 
      }
      ::-webkit-scrollbar-thumb {
      background: #555; 
      }
      ::-webkit-scrollbar-thumb:hover {
      background: #555; 
      }
      
      .cv{
        width: 80%;
        font-size: 22px;
      }
      .information_doc{
        display: flex;
      }
      .res-sociaux{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        margin-top: 60px;
      }
      .res-sociaux a{
        position: relative;
        margin: 0 20px;
        font-size: 3rem;
        height: 70px;
        width: 70px;
        background-color: whitesmoke;
        display: inline-block;
        border-radius: 25px;
        transition: 0.2s ease-in-out;
        overflow: hidden;
      }
      .res-sociaux a:hover{
        transform: scale(1.2);
      }
      .res-sociaux i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #007FFF;
        transition: 0.2s ease-in-out;

      }
      .res-sociaux a:hover i{
        color: white;
        animation: bounce 0.5s ease-in-out;

      }
      .res-sociaux a::before{
        content: '';
        position: absolute;
        background: linear-gradient(to left,#007FFF, #4a00e0);
        margin: 50%;
        width: 80px;
        height: 80px;
        left: 100%;
        right: 100%;
        top: 100%;
        transform: translate(-50%,-50%);
        transition: 0.2s ease-in-out;
      }
      .res-sociaux a:hover::before{
        margin: 0px;
        left: 50%;
        top: 50%;

      }
      @keyframes bounce {
        0%{
          font-size: 3rem;
        }
        50%{
          font-size: 4rem;
        }
        100%{
          font-size: 3rem;
        }
        
      }
     
 
     
      
   
  .contenu-all{
    margin-left: 120px;
  } 
 
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  
.content-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 60px;
}
.cards{
  min-height: 220px;
  width: 330px;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin: 10px 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.4s;
  }
.cards h5{
  margin-top: 10px;
  color: #007FFF;
  
}
.cards:hover a {
  color: rgb(255, 255, 255);
}
.cards p{
  font-size: 20px;
}
.content-box a {
  text-decoration: none;
  font-size: 22px;
}


.cards:nth-child(1):hover{
  background:linear-gradient( 45deg,
                               rgba(144, 187, 252, 0.8) 0% ,
                               rgba(94, 126, 184, 0.8) 100%),
                               url(./image/i3.jpeg);
background-repeat: no-repeat;
background-size:cover ;
}
.cards:nth-child(2):hover{
  background:linear-gradient( 45deg,
                               rgba(144, 187, 252, 0.8) 0% ,
                               rgba(94, 126, 184, 0.8) 100%),
                               url(./image/i5.jpeg);
background-size:cover ;
background-position: center;

}
.cards:nth-child(3):hover{
  background:linear-gradient( 45deg,
                               rgba(144, 187, 252, 0.8) 0% ,
                               rgba(94, 126, 184, 0.8) 100%),
                               url(./image/i2.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size:cover ;
}
.cards:nth-child(4):hover{
  background:linear-gradient( 45deg,
                               rgba(144, 187, 252, 0.8) 0% ,
                               rgba(94, 126, 184, 0.8) 100%),
                               url(./image/i4.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size:cover ;
}
.cards:nth-child(5):hover{
  background:linear-gradient( 45deg,
                               rgba(144, 187, 252, 0.8) 0% ,
                               rgba(94, 126, 184, 0.8) 100%),
                               url(./image/i6.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size:cover ;
}
.cards:nth-child(6):hover{
  background:linear-gradient( 45deg,
                               rgba(144, 187, 252, 0.8) 0% ,
                               rgba(94, 126, 184, 0.8) 100%),
                               url(./image/i13.png);
background-repeat: no-repeat;
background-position: center;
background-size:cover ;
}
.cards:nth-child(7):hover{
  background:linear-gradient( 45deg,
                               rgba(144, 187, 252, 0.8) 0% ,
                               rgba(94, 126, 184, 0.8) 100%),
                               url(./image/i1.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size:cover ;
}
.cards:nth-child(8):hover{
  background:linear-gradient( 45deg,
                               rgba(144, 187, 252, 0.8) 0% ,
                               rgba(94, 126, 184, 0.8) 100%),
                               url(./image/i94\ \(1\).jpeg);
background-repeat: no-repeat;
background-position: center;
background-size:cover ;
}
.cards:nth-child(9) a{
  text-decoration: none;
  font-size: 22px;
}
.cards:nth-child(9):hover a{
color: blue;
}
@media (max-width:991px) {
  .wrapper{
    padding: 25px;
margin-right: 10px;
  }
  .content-box{
    flex-direction: column;
    width: 100%;
  }
  .cards{
    min-width: 300px;
    margin: 10px auto;
  }
  .Bbox{
    display: block;
    margin-left: 10px;
  }
  
}
  
  .contact-info{
    display: flex;
    width: 90%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 80px ;
    }
   .carte-info{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: rgb(253, 253, 253);
    padding: 0 20px;
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  .contact-info .material-symbols-outlined{
    font-size: 28px;
    background: #007FFF;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
  }
  .carte-info:hover .material-symbols-outlined{
    background: none;
    color:#007FFF ;
    transform: scale(2);

  }
  .carte-info a{
      margin-top: 20px;
      letter-spacing: 2px;
      max-height: 0;
      transition: 0.3s linear;
      color: black;
      font-size: 20px;
  }
  .carte-info:hover a{
    max-height: 40px;
    color:#007FFF ;
    transform: scale(1.1);
    font-weight: bold;
   
  }
   
    h5 {
      color: #007FFF;
    }
    .cv li{
      list-style: none;
    }
    .cv li::before{
        content: '•';
        padding-right: 8px;
        color: #007FFF;
      }
    .vl {
    border-left: 6px solid #007FFF;
    height: 100px;
    }
    .titb{
      display: flex;
      margin-top: 80px;
      color: #007FFF;
    }
    
    .lv {
    margin-top: 90px;
    border-left: 6px solid #007FFF;
    height: 62%;
  }
  .contact{
    position: relative;
    padding: 70px 60px;
    width:96%;
   
    
  }
  .container .contactInfo{
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    width: 100%;
    margin-left: 50px;
  }
  .container .contactInfo .box .icon{
    min-width: 60px;
    height:60px;
    background: #c9daeb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
  }
  .container .contactInfo .box .icon:hover{
   background: #dde9f5;
  }

  .container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: bold;
  }
  .container .contactInfo .box .text:hover{
    color: #007FFF;
    
  }
  .container .contactInfo .box .text h3{
    font-weight: 500;
    color: #007FFF;
  }

  .img-gallery{
        width: 90%;
        margin-top: 60px;
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap:30px;
      }
      .img-gallery img{
        width: 100%;
        cursor: pointer;
      }
      .img-gallery img:hover{
        transform: scale(1.5) ;
        box-shadow: 0 32px  75px rgba(68, 77, 136, 0.2) ;
      }
  .full-img{
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        display: none ;
        align-items: center;
        justify-content: center;
        z-index: 100;
      }
      .full-img img{
        width: 100%;
        max-width: 700px;
      }
      .full-img span{
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 30px;
        color: white;
        cursor:pointer;
        background: none !important;
      }
      .mb-4 svg{
        color: white;
      }
      .Bbox{
        display: flex;
        justify-content: space-between;

 
      }
    @media(max-width:1200px){
  
          .photo-doc{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
          .contact-info{
          display: flex;
          flex-direction: column;
          margin-left: 5px;
          }
          .carte-info{
            width: 90%;
          }
          .carte-info a{
            font-weight: bold;
          }
        
          .contenu-all{
            margin-left: 10px;
          }
          .information_doc{
            display: block;
            margin-right: 10px;
          }
          .cv{
            width:100%;
            margin-right: 10px;
            margin-left: 10px;
          }
          .cv li{
           margin-right: 0px;
          }
          .img-galerie {
            display: block; 
            margin-left: 15px;
          
          }
          .img-galerie img{
            margin-bottom:20px ;
          
          
            }
          
          .img-galerie img:hover{
            transform: scale(1) ;
            }
         
          .img-gallery{
            margin-left: 13px;
            margin-right: 13px;

          }

          
          .lv{
            height: 68%;
          }
          .contact{
            padding: 50px 10px;
            padding-bottom: 50px;
            height: 550px;
          }
          
        }
        
        @media(max-width:890px){
          .carousel-item{
        height: 30rem;
      }
      .carousel-inner .carousel-item:nth-child(1){
        background-size: 200%; 
      }
      .carousel-inner .carousel-item:nth-child(2){
        background-image: url(./image/s1111.png);
        background-size: 150%; 

      }
      .carousel-inner .carousel-item:nth-child(3){
        background-size: 200%; 
      
      }
          .Bbox:nth-child(1){
            display: block;
  
          }
          .Bbox:nth-child(2){
            display: block;
  
          }
          .box{
            margin-left: 10px;
          }
          .container .contactInfo{
            margin-left: -70px;
          }
        }
        
          @media(max-width:295px){
           .carte-info{
            height: 300px ;
        
           }
          .contact{
            padding: 0px 0px;
          }
  
         }
         @media(max-width:410px){
          .carousel-inner .carousel-item:nth-child(1){
            background-size: 300%; 
          }
          .carousel-inner .carousel-item:nth-child(2){
            background-image: url(./image/s1111.png);
            background-size: 200%; 
    
          }
          .carousel-inner .carousel-item:nth-child(3){
            background-size: 300%; 
          
          }

         }
           